name: CI

on: [push, pull_request, workflow_dispatch]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -Dwarnings
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Set up Rust
        run: |
          rustup toolchain install $(awk -F'"' '/channel/{print $2}' rust-toolchain.toml) --profile minimal --no-self-update --component rustfmt,clippy
      - uses: Swatinem/rust-cache@v2
      - run: ./.github/tools/github_actions_run_cargo fmt
      - run: ./.github/tools/github_actions_run_cargo clippy
      - run: ./.github/tools/github_actions_run_cargo build
      - run: ./.github/tools/github_actions_run_cargo test
